<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/edit.css">
</head>
<body>
    <div>
        <a href="/">Go back to home</a>
        <div class="form">
            <form action="/edit" method="post" >
                <input class="text" type="text" placeholder="previous name" name="previous" value="<%= filename %>">
                <input  class="text" type="text" placeholder="new name" name="new">
                <input  id="button" type="submit" value="create task" >
            </form>
        </div>
    </div>
</body>
</html>